<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>{{bookplate_list[0] + ' ' + bookplate_list[1]}}</title>
<link rel="stylesheet" type="text/css" href="static/bookplate.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
</head>
<body>
<div id="largecontent"><div id="textblock">
{% for bookplate in bookplate_list %}
  <p><a href='http://search.library.duke.edu/search?id=DUKE{{bib_number}}'>{{bookplate}}<br /></a></p>
{% endfor %}
</div></div>
