
<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" xml:lang="en-US">
<head>
<title>{{bookplate_list[0]}}</title>
<link rel="stylesheet" type="text/css" href="static/bookplate.css" />
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
</head>
<body>
<div id="content"><div id="textblock"><p><a href='http://search.library.duke.edu/search?id=DUKE{{bib_number}}'>{{bookplate_list[0]}}<br />{{bookplate_list[1]}}<br />{{bookplate_date}}<br /></a></p></div></div>
</body>
</html>
