import sys
### activate environment
activate_this = '{{ venv_dir }}/bookplate-venv/bin/activate_this.py'
execfile(activate_this, dict(__file__=activate_this))
### activate environment
sys.path.insert (0, '{{ app_dir }}')
from bookplate import app as application
