WSGIScriptAlias /bookplate {{ app_dir }}/bookplate-app.wsgi
WSGIDaemonProcess bookplate user=apache group=apache home={{ app_dir }}
WSGIScriptReloading On

<Directory "{{ app_dir }}">
    WSGIProcessGroup bookplate
    WSGIApplicationGroup %{GLOBAL}
    Require all denied
    <Files "bookplate-app.wsgi">
        Require all granted
    </Files>
</Directory>
